.signup {
  background: #FAFDFF;
  

  .signup-card {
    max-width: 800px;
    border-radius: 12px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 200px;
    }
  }

}

.activate{
  background: #1A2038;

  .activate-card {
    max-width: 800px;
    border-radius: 12px !important;
    img {
      width: 200px;
    }
  }
}

iframe {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
